In [1]:
import numpy as np
import pandas as pd
import MetaTrader5 as mt5
from datetime import datetime

In [2]:
mt5.initialize()

mt5.login(login=52603153, password='@322HwQd', server='VantageInternational-Live 6')

False

In [ ]:
mt5.last_error()

In [3]:
datetime.now()

datetime.datetime(2025, 1, 2, 19, 18, 8, 714707)

In [18]:
trades = mt5.history_deals_get(datetime(2024, 12, 15), datetime(2024, 12, 29))
# trades = mt5.history_orders_get(date_from='2024.12.01 00:00:00', date_to='2024.12.31 23:59:59')
print(mt5.last_error())

(1, 'Success')

In [19]:
trades

(TradeDeal(ticket=41764919, order=41777725, time=1734515348, time_msc=1734515348790, type=1, entry=0, magic=0, position_id=41777725, reason=1, volume=0.01, price=2644.28, commission=-0.03, swap=0.0, profit=0.0, fee=0.0, symbol='XAUUSD+', comment='', external_id='795645126'),
 TradeDeal(ticket=41773912, order=41786997, time=1734516587, time_msc=1734516587524, type=1, entry=0, magic=0, position_id=41786997, reason=1, volume=0.01, price=2642.48, commission=-0.03, swap=0.0, profit=0.0, fee=0.0, symbol='XAUUSD+', comment='', external_id='795676857'),
 TradeDeal(ticket=41776205, order=41789312, time=1734517007, time_msc=1734517007116, type=0, entry=1, magic=0, position_id=41786997, reason=4, volume=0.01, price=2644.33, commission=-0.03, swap=0.0, profit=-1.85, fee=0.0, symbol='XAUUSD+', comment='[sl 2644.32]', external_id='795684288'),
 TradeDeal(ticket=41778567, order=41791657, time=1734517236, time_msc=1734517236190, type=0, entry=1, magic=0, position_id=41777725, reason=4, volume=0.01, price=2645.9, commission=-0.03, swap=0.0, profit=-1.62, fee=0.0, symbol='XAUUSD+', comment='[sl 2645.96]', external_id='795691109'),
 TradeDeal(ticket=41795639, order=41808759, time=1734519520, time_msc=1734519520837, type=0, entry=0, magic=0, position_id=41808759, reason=1, volume=0.15, price=1.0494, commission=-0.45, swap=0.0, profit=0.0, fee=0.0, symbol='EURUSD+', comment='', external_id='795739185'),
 TradeDeal(ticket=41795877, order=41809019, time=1734519575, time_msc=1734519575338, type=0, entry=0, magic=0, position_id=41809019, reason=1, volume=0.15, price=1.26882, commission=-0.45, swap=0.0, profit=0.0, fee=0.0, symbol='GBPUSD+', comment='', external_id='795739790'),
 TradeDeal(ticket=41797161, order=41810393, time=1734519780, time_msc=1734519780562, type=1, entry=1, magic=0, position_id=41809019, reason=5, volume=0.15, price=1.26883, commission=-0.45, swap=0.0, profit=0.15, fee=0.0, symbol='GBPUSD+', comment='[tp 1.26883]', external_id='795744271'),
 TradeDeal(ticket=41798530, order=41811757, time=1734520051, time_msc=1734520051662, type=1, entry=1, magic=0, position_id=41808759, reason=1, volume=0.15, price=1.04918, commission=-0.45, swap=0.0, profit=-3.3, fee=0.0, symbol='EURUSD+', comment='', external_id='795746724'))

In [20]:
pd.DataFrame(list(trades), columns=trades[0]._asdict().keys())

,ticket,order,time,time_msc,type,entry,magic,position_id,reason,volume,price,commission,swap,profit,fee,symbol,comment,external_id
0,41764919,41777725,1734515348,1734515348790,1,0,0,41777725,1,0.01,2644.28000,-0.03,0.0,0.00,0.0,XAUUSD+,,795645126
1,41773912,41786997,1734516587,1734516587524,1,0,0,41786997,1,0.01,2642.48000,-0.03,0.0,0.00,0.0,XAUUSD+,,795676857
2,41776205,41789312,1734517007,1734517007116,0,1,0,41786997,4,0.01,2644.33000,-0.03,0.0,-1.85,0.0,XAUUSD+,[sl 2644.32],795684288
3,41778567,41791657,1734517236,1734517236190,0,1,0,41777725,4,0.01,2645.90000,-0.03,0.0,-1.62,0.0,XAUUSD+,[sl 2645.96],795691109
4,41795639,41808759,1734519520,1734519520837,0,0,0,41808759,1,0.15,1.04940,-0.45,0.0,0.00,0.0,EURUSD+,,795739185
5,41795877,41809019,1734519575,1734519575338,0,0,0,41809019,1,0.15,1.26882,-0.45,0.0,0.00,0.0,GBPUSD+,,795739790
6,41797161,41810393,1734519780,1734519780562,1,1,0,41809019,5,0.15,1.26883,-0.45,0.0,0.15,0.0,GBPUSD+,[tp 1.26883],795744271
7,41798530,41811757,1734520051,1734520051662,1,1,0,41808759,1,0.15,1.04918,-0.45,0.0,-3.30,0.0,EURUSD+,,795746724

In [7]:
mt5.history_orders_get(position=24200088)

(TradeOrder(ticket=24200088, time_setup=1730889273, time_setup_msc=1730889273011, time_done=1730889273, time_done_msc=1730889273148, time_expiration=0, type=0, type_time=0, type_filling=1, state=4, magic=0, position_id=24200088, position_by_id=0, reason=1, volume_initial=0.1, volume_current=0.0, price_open=0.0, sl=0.0, tp=0.0, price_current=2727.48, price_stoplimit=0.0, symbol='XAUUSD+', comment='', external_id='24200088-O'),
 TradeOrder(ticket=24201732, time_setup=1730889387, time_setup_msc=1730889387532, time_done=1730889387, time_done_msc=1730889387653, time_expiration=0, type=1, type_time=0, type_filling=1, state=4, magic=0, position_id=24200088, position_by_id=0, reason=4, volume_initial=0.1, volume_current=0.0, price_open=2728.83, sl=0.0, tp=0.0, price_current=2728.83, price_stoplimit=0.0, symbol='XAUUSD+', comment='[sl 2728.83]', external_id='24201732-O'))

In [8]:
print(mt5.orders_get())
print(mt5.last_error())

()
(1, 'Success')

In [9]:
mt5.positions_get()
print(mt5.last_error())

(1, 'Success')

In [10]:
print(mt5.history_orders_total())
print(mt5.last_error())

None
(-2, 'Invalid arguments')

In [21]:
mt5.shutdown()

True